.container-fluid {
    background-color: #d051c1;
    
    
  }

  form input{
    background-color: grey;
  }
  
  #subject {
    background-color: grey;

  }
  
  body {
    background-color: black !important;
   height: 50vh;
  }
  
  .navbar {
    --bs-navbar-padding-y: 0 !important;
  }
  /* .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color:white;
  } */
  div ul li a{
    transition: all 0.5s ease 0s !important;
  }
  a:hover {
      background-color: lightcoral;
      border-radius:999999px;
    }

  
    .img{
      position: relative;
      /* bottom: 54rem;
      left: 31rem; */
    }
  
    .image{
      height: 50rem;
    }
  
    .imag{
      width: 100%;
      height: 100%;
    }
    .foot{
      color: #d051c1;
      text-align: center;
    }
  
  
  .thefooter{
      float:right;
      width:100%;
      background: #000;
  }
  ul{
      margin: 0 130px;
      
  }
  li{
      list-style-type:none;
      float:right;
      line-height:32px;
  }
  h3{
      font-weight:bold;
      text-decoration: underline;
      margin-bottom:15px;
      margin-top:29px;
  }
  li a{
      text-decoration: none;
      color:white;
      margin-bottom:20px;
  }
  .Navigationto{
      display:flex;
      float:right;
      display:inline-block;
  }
  .Navigationto li a{
      display:flex;
  }
  .connectto{
      display:flex;
      float:right;
  }
  .connectto li a{
      display:flex;
  }
  ul li a:hover{
      color: #d051c1;
      color:white;
  }
  .theaccount{
      display:flex;
      float:right;
  }
  .theaccount li a{
      display:flex;
  }
  
  .copyright{
    color: #d051c1 !important;
  }
  
  footer ul li{
    margin: 10px;
  }
  
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body{
    font-family:'Sen',sans-serif ;
    background:black;
 color:rgba(247,139,36,255)
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
input[type=text],select,textarea {
    
    width: 100%;
    padding:12px;
    border:1px solid #ccc;
    border: radius 4px;
    box-sizing:border-box;
    margin-top:6px;
  margin-bottom:16px;
  resize:vertical;
}

input[type=submit]{

    background-color:white;
    color:black;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    text-align:center;
    
}
input[type=submit]:hover{
    background-color:#d051c1;
    
}

.container{
    border-radius:5px;
    background:black;
    padding:5px;
    margin-top: 20px;
    text-align:center;
}
p{
    text-align: center;
}
.pro{
  text-align: center;
  color:#d051c1;
 }

 .target::placeholder{
  color: black;
 }
 #subject{
  background-color: white;
 }
 .navbar-brand{
  text-decoration: none;
}
